<h2>Client page:</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Имя: <%= @client.username %></th>
      <th scope="col">Телефон: <%= @client.phone %></th>
      <th scope="col">Парикмахер: <%= @client.barber %></th>
      <th scope="col">Дата и время: <%= @client.datetime %></th>
    </tr>
  </thead>